<style>
    .edit-recipe-modal .modal {
        max-width: 700px;
    }
</style>

<div class="modal-container" unfocus-modal="modalOptions.modalStack.clear()">
    <div
        class="modal"
        ng-click="$broadcast('parentClick', $event)"
        ng-keydown="$broadcast('keyDown', $event)"
        tabindex="0"
        autofocus>
        <div class="close-modal" ng-click="modalOptions.modalStack.pop()"></div>
        <form>
            <h2>Edit Recipe</h2>

            <section>
                <label class="flex">
                    <span class="input-label">Editor ID</span>
                    <input type="text" ng-model="editorId"/>
                </label>
            </section>

            <section>
                <label class="flex">
                    <span class="input-label">Crafting Station</span>
                    <select
                        ng-model="craftingStation"
                        ng-options="cs for cs in craftingStations"
                        ng-change="updateCraftType()">
                    </select>
                </label>
            </section>

            <section>
                <label class="flex">
                    <span class="input-label">Created Object</span>
                    <reference-select
                        model="createdObject"
                        signature="createdObjectSignature"
                        signatures="itemSignatures">
                    </reference-select>
                </label>
                <label class="flex">
                    <span class="input-label">Created Object Count</span>
                    <number-input type="positiveInteger" model="createdObjectCount"></number-input>
                </label>
            </section>

            <section>
                <label class="flex" ng-show="isForge">
                    <span class="input-label">Required Perk</span>
                    <select
                        ng-model="conditionPerk"
                        ng-options="key for key in conditionPerkOptions">
                    </select>
                </label>
            </section>

            <h3>Ingredients
                <span class="actions">
                    <button class="action-btn positive small" ng-click="addIngredient()">Add Ingredient</button>
                </span>
            </h3>
            <section>
                <div ng-repeat="ingredient in ingredients">
                    <div class="remove-item" ng-click="removeIngredient(ingredient)"></div>
                    <label class="flex">
                        <span class="input-label">Item</span>
                        <reference-select
                            model="ingredient.item"
                            signature="ingredient.signature"
                            signatures="itemSignatures">
                        </reference-select>
                    </label>
                    <label class="flex">
                        <span class="input-label">Count</span>
                        <number-input type="positiveInteger" model="ingredient.count"></number-input>
                    </label>
                </div>
            </section>

            <div class="primary-actions">
                <button class="action-btn" ng-click="saveAndClose()" ng-disabled="!editorId">OK</button>
                <button class="action-btn" ng-click="modalOptions.modalStack.pop()">Cancel</button>
            </div>
        </form>
    </div>
</div>
